#gallery {padding: 20px 10px;}
#gallery .image-container {position: relative; display: inline-block; margin: 8px 4px;}
#gallery .image-container:hover {
	-webkit-box-shadow: 0 0 9px rgba(100,100,100,0.3);
	-moz-box-shadow: 	0 0 9px rgba(100,100,100,0.3);
	box-shadow: 		0 0 9px rgba(100,100,100,0.3);
}
#gallery .image-container .details {display: none;}
#gallery .image {
	border: none;
	max-height: 140px;
	vertical-align: middle;
}

#iPreview {
	position: absolute; background: #FFF; padding: 7px;
	-webkit-box-shadow: 0 0 9px rgba(100,100,100,0.3);
	-moz-box-shadow: 	0 0 9px rgba(100,100,100,0.3);
	box-shadow: 		0 0 9px rgba(100,100,100,0.3);
}

#iPreview img {border: none; width: 100%;}